################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/modular-monolith/.vs/modular-monolith/v17
